#wpcontent {
    padding: 0;
}

#hb-content {
    padding: 25px 30px;
    overflow: hidden;
    position: relative;
}

#hb-content p {
    margin: 0;
    line-height: 1.6;
    font-size: 14px;
    color: #323f4a;
    font-weight: 300;
}

#hb-content h2 {
    font-weight: 500;
    margin-top: 0;
    color: #323f4a;
}

#hb-content.theme-browser .themes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    gap: 16px;
}

#hb-content.theme-browser .theme {
    width: 100%;
    float: none;
    margin: 0 !important;
    box-sizing: border-box;
    box-shadow: none;
    border: none;
}

#hb-content.theme-browser .theme .theme-inner {
    border: solid 1px #e6e6e6;
    position: relative;
}

#hb-content.theme-browser .theme .theme-name {
    font-size: 14px;
    font-weight: 400;
    box-shadow: none;
    background: #fff;
    padding: 16px 15px;
    border-top: solid 1px #eee;
}

#hb-content.theme-browser .theme .theme-actions {
    padding: 0 7px 0 14px;
    height: 50px;
    background: #fbfbfb;
    border-left-color: #eee;
    border-top: solid 1px #eee;
    opacity: 1;
    visibility: visible;
    top: auto;
    bottom: 0;
    transform: none;
    box-shadow: none;
    display: flex !important;
    align-items: center;
}

#hb-content.theme-browser .theme .theme-actions .spinner {
    float: none;
    margin-top: 0;
    display: none;
}

#hb-content.theme-browser .theme .theme-actions .spinner.activated {
    display: inline-block;
    visibility: visible;
}

#hb-content.theme-browser .theme .theme-actions .button {
    display: flex;
    align-items: center;
}

#hb-content.theme-browser .theme .theme-actions a[disabled=disabled], #hb-content.theme-browser .theme.disabled-click {
    cursor: default;
}

#hb-content.theme-browser .theme .theme-actions a[disabled=disabled] {
    pointer-events: none;
}

#hb-content.theme-browser .theme .theme-screenshot span {
    font-size: 12px;
    margin-left: 12px;
    color: #aeaeae;
    position: absolute;
    right: 14px;
    bottom: 10px;
    z-index: 2;
}

#hb-content .intro-description {
    position: relative;
    margin-bottom: 30px;
    border-bottom: solid 1px #dcdcdc;
    padding: 0 30px 20px 30px;
    margin-left: -30px;
    margin-right: -30px;
}

#hb-content .intro-description::after {
    content: " ";
    width: 8px;
    height: 8px;
    background: #f1f1f1;
    position: absolute;
    bottom: -5px;
    left: 54px;
    transform: rotate(45deg);
    border-right: solid 1px #dcdcdc;
    border-bottom: solid 1px #dcdcdc;
}

#hb-content .input-holder {
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #555;
    box-shadow: none;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    color: #555;
    width: 100%;
}

#hb-content .dashicons-yes {
    color: #4ac74a;
}

#hb-content .dashicons-no-alt {
    color: #f56666;
}

#hb-content .dashicons-warning {
    color: #ff9a1e;
}

#hb-content .import-demo-modal-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    bottom: 10%;
    width: 90%;
    max-width: 550px;
    height: 650px;
    max-height: 90%;
    overflow-y: visible;
    padding: 30px;
    box-sizing: border-box;
    z-index: 99999;
    display: none;
    cursor: default;
}

#hb-content .import-demo-modal-wrapper .import-demo-update-modal-inner {
    max-height: 100%;
    overflow-y: scroll;
    border-radius: 5px;
    background: #fff;
}

#hb-content .import-demo-modal-title {
    padding: 20px 30px;
    border-bottom: 1px solid #eee;
}

#hb-content .import-demo-modal-thumbnail {
    height: 250px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center center;
}

#hb-content .import-demo-modal-thumbnail .import-demo-modal-preview {
    display: none;
}

#hb-content .import-demo-update-modal-status-bar-progress-bar {
    display: none;
}

#hb-content .import-demo-form,
#hb-content .remove-demo-form {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 30px 35px 30px;
    float: left;
}

#hb-content .import-demo-required-plugins {
    padding: 15px 30px;
}

#hb-content .import-demo-required-plugins .button {
    padding: 6px 8px !important;
}

#hb-content .import-demo-required-plugins .button[disabled] {
    color: #3f9a69 !important;
}

#hb-content .required-plugin-name {
    display: inline-block;
    width: 150px;
}

#hb-content .import-demo-update-form-wrap {
    border-top: 1px solid #e8e8e8;
}

#hb-content .import-demo-update-form-wrap .import-demo-form {
    width: 100%;
}

#hb-content .import-demo-update-form-wrap .import-demo-form form {
    -moz-column-count: 2;
    column-count: 2;
}

#hb-content .import-demo-modal-close {
    position: absolute;
    top: 45px;
    right: 45px;
    text-decoration: none;
}

#hb-content .import-demo-modal-close .dashicons,
#hb-content .import-demo-modal-close .dashicons-before:before {
    width: 28px;
    height: 28px;
    font-size: 28px;
}

#hb-content .import-demo-form-title span {
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    color: #666;
    padding-left: 5px;
}

#hb-content .import-demo-modal-title h2 {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    padding: 0 15px 0 0;
    vertical-align: middle;
}

#hb-content .import-demo-update-modal-content:after {
    content: "";
    clear: both;
    display: block;
}

#hb-content .import-demo-update-modal-status-bar {
    padding: 20px 30px;
    background: #f1f1f1;
}

#hb-content .import-demo-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    display: none;
}

#hb-content .import-demo-update-modal-status-bar-progress-bar {
    height: 3px;
    background-color: #1898e9;
    transition: width 0.4s;
    width: 0;
    position: relative;
}

#hb-content .import-demo-update-modal-status-bar-progress-bar.hb-loading-animation:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99991;
    height: 3px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-animation-name: demoloader;
    animation-name: demoloader;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

#hb-content .import-demo-update-modal-status-bar-label {
    display: inline-block;
}

#hb-page-title {
    position: relative;
    padding: 22px 30px 22px 30px;
    background: #fff;
    border-top: solid 4px #9ad0c1;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

#hb-page-title::before {
    position: absolute;
    top: -4px;
    height: 4px;
    width: 100%;
    left: 0;
    content: "";
    background: #1898e9;
    background: gradient(45deg, #1898e9 0%, #73c4be 100%);
}

#hb-page-title h1 {
    color: #323f4a;
    font-weight: 400;
    font-size: 23px;
    margin: 0;
}

#hb-page-title h1.flexy {
    display: flex;
    flex-direction: row;
}

#hb-page-title h1.flexy .how-to-use {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    text-decoration: none;
    font-size: 14px;
    border: solid 2px #bbb;
    border-radius: 3px;
    padding: 5px 12px;
    color: #777;
    transition: all 0.15s;
    box-shadow: none;
}

#hb-page-title h1.flexy .how-to-use:hover {
    color: #19a1f7;
    border-color: #19a1f7;
}

#hb-page-title h1.flexy .how-to-use i {
    text-decoration: none;
    line-height: 1;
    vertical-align: middle;
    margin-right: 6px;
    font-size: 1.2em;
    width: auto;
    height: auto;
    margin-right: 6px;
}

.in-block {
    display: inline-block;
}

.hb-version-badge {
    margin-left: 12px;
    position: relative;
    display: inline-block;
    line-height: 1.5;
    color: #aeaeae;
}

body.wp-admin #hb-page-wrapper {
    line-height: 1.5;
}

/* Tabs */
#hb-tabs {
    margin: 0;
    background: #fff;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

#hb-tabs li {
    display: inline-block;
    margin: 0;
}

#hb-tabs li.hidden {
    display: none;
}

#hb-tabs li a {
    padding: 17px 0;
    display: block;
    margin-right: 25px;
    text-decoration: none;
    color: #888;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    margin-top: -1px;
    border-top: solid 1px transparent;
    position: relative;
    z-index: 9;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-backface-visibility: hidden;
}

#hb-tabs li a:focus {
    box-shadow: none;
}

#hb-tabs li a:after {
    margin-left: -4px;
    left: 50%;
    content: " ";
    height: 8px;
    width: 8px;
    position: absolute;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-left: -4px;
    bottom: -6px;
    margin-bottom: -6px;
    transform: rotate(45deg);
    z-index: 1;
    border: solid 1px transparent;
}

#hb-tabs li a:hover, #hb-tabs li.current a {
    color: #1898e9;
    border-top-color: #1898e9;
}

#hb-tabs li.current a::after {
    border-left-color: #e6e6e6;
    border-top-color: #e6e6e6;
    background: #f1f1f1;
    bottom: 0;
}

/* WP Core UI modifications */
.wp-core-ui #wpcontent .button {
    margin: 0;
}

.wp-core-ui #wpcontent .button-primary,
.wp-core-ui #wpcontent .button-secondary {
    display: inline-flex;
    align-items: center;
    min-height: unset;
    text-shadow: none;
    box-shadow: none !important;
    border: none;
    line-height: 1;
    height: auto;
    vertical-align: middle;
    line-height: 1;
    padding: 12px 16px 12px;
    margin-right: 7px;
    font-weight: 400;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    text-decoration: none;
}

.wp-core-ui #wpcontent .button-primary {
    background: #1898e9;
}

.wp-core-ui #wpcontent .button-primary:hover {
    background: #19a1f7;
}

.wp-core-ui #wpcontent .button-secondary {
    background: rgba(0, 0, 0, 0.07);
}

.wp-core-ui #wpcontent .button-secondary:hover {
    background: rgba(0, 0, 0, 0.08);
    color: #323f4a;
}

.wp-core-ui #wpcontent .button-secondary.cancel-sidebar-button {
    background: #ddd;
}

.wp-core-ui #wpcontent .button-secondary.delete-sidebar-button:hover:hover, .wp-core-ui #wpcontent .button-secondary.cancel-sidebar-button:hover {
    background: #e85b5b;
    color: #fff;
}

.wp-core-ui #wpcontent .theme-actions .button-primary,
.wp-core-ui #wpcontent .theme-actions .button-secondary {
    padding: 8px 12px;
}

.wp-core-ui #wpcontent p.submit .button-secondary,
.wp-core-ui #wpcontent p.hb-submit .button-secondary {
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
}

.wp-core-ui #wpcontent p.submit .button-secondary:hover,
.wp-core-ui #wpcontent p.hb-submit .button-secondary:hover {
    background: rgba(255, 255, 255, 0.2);
}

.wp-core-ui #wpcontent #hb-content .deactivate .button-primary {
    background: #e85b5b;
}

ul#adminmenu a.wp-has-current-submenu::after, ul#adminmenu > li.current > a.current::after {
    border-right-color: #fff;
}

ul#adminmenu a.wp-has-current-submenu.hb-message-arrow::after, ul#adminmenu > li.current > a.current.hb-message-arrow::after {
    border-right-color: #384654;
}

/* Notices */
#wpbody-content .notice,
#wpbody-content div.error,
#wpbody-content div.updated {
    width: 100%;
    padding: 15px 30px !important;
    background: #384654;
    font-weight: 300;
    color: #b4b9be;
    color: rgba(240, 245, 250, 0.7);
    border: none;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    margin: 0;
}

#wpbody-content .notice a,
#wpbody-content .notice b,
#wpbody-content .notice strong,
#wpbody-content .notice h1,
#wpbody-content .notice h2,
#wpbody-content .notice h3,
#wpbody-content .notice h4,
#wpbody-content .notice h5,
#wpbody-content .notice h6,
#wpbody-content div.error a,
#wpbody-content div.error b,
#wpbody-content div.error strong,
#wpbody-content div.error h1,
#wpbody-content div.error h2,
#wpbody-content div.error h3,
#wpbody-content div.error h4,
#wpbody-content div.error h5,
#wpbody-content div.error h6,
#wpbody-content div.updated a,
#wpbody-content div.updated b,
#wpbody-content div.updated strong,
#wpbody-content div.updated h1,
#wpbody-content div.updated h2,
#wpbody-content div.updated h3,
#wpbody-content div.updated h4,
#wpbody-content div.updated h5,
#wpbody-content div.updated h6 {
    color: #fff;
}

#wpbody-content .notice a:hover,
#wpbody-content div.error a:hover,
#wpbody-content div.updated a:hover {
    color: #00b9eb;
}

#wpcontent .woocommerce-message a.woocommerce-message-close,
#wpcontent p.woocommerce-actions a.woocommerce-message-close {
    line-height: 1.33;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

#wpcontent .woocommerce-message p.submit,
#wpcontent .notice p.hb-submit {
    margin-top: 10px;
    padding-top: 0;
}

/* Table */
.hb-status-table td,
.hb-status-table th {
    padding: 10px 20px;
    vertical-align: middle;
    border-left: solid 1px #eee;
    position: relative;
}

.hb-status-table td:first-child {
    width: 25%;
    max-width: 300px;
}

.hb-status-table h2 {
    font-size: 14px;
    margin: 0;
}

.hb-status-table tr:nth-child(2n) td, .hb-status-table tr:nth-child(2n) th, .hb-status-table tr.shaded-row td {
    background: #fbfbfb;
}

.hb-status-table tr.not-shaded-row td {
    background: #fff !important;
}

.hb-status-table #empty-row {
    display: none;
}

.hb-status-table #empty-row.visible-empty-row {
    display: table;
}

#hb-content table.widefat {
    box-shadow: none;
    margin-bottom: 20px;
    box-shadow: 0px 0px 40px -5px rgba(10, 10, 10, 0.1);
    border-color: rgba(0, 0, 0, 0.1);
}

#hb-content table.widefat thead td,
#hb-content table.widefat thead th {
    border-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: #eee;
}

#hb-content table.widefat ul,
#hb-content table.widefat ol,
#hb-content table.widefat p,
#hb-content table.widefat tfoot tr td,
#hb-content table.widefat tfoot tr th,
#hb-content table.widefat thead tr td,
#hb-content table.widefat thead tr th {
    color: #323f4a;
}

#hb-content table .appeneded-row td {
    background: #fff9da !important;
    border-left-color: rgba(0, 0, 0, 0.05);
}

#hb-content table .appeneded-row td:nth-child(1) {
    border-left: solid 3px #1898e9;
}

#hb-content table .larger-field {
    width: 40%;
}

#hb-content table .regular-field {
    width: 25%;
}

#hb-content table .smaller-field {
    width: 22%;
}

#hb-content table .hide-on-mobile.smaller-field {
    width: 13%;
}

#hb-sidebars-table pre {
    padding: 3px 6px;
    margin: 0;
    display: inline-block;
    background: #f6f7f8;
    border-radius: 3px;
}

#hb-sidebars-table .spinner {
    float: none;
    margin-top: 0;
}

.hb-sidebar-manager-table td,
.hb-sidebar-manager-table th {
    border-left: solid 1px #eee;
    position: relative;
}

#hb-timeline-content {
    padding-top: 15px;
}

#hb-timeline-content .timeline-section {
    position: relative;
    padding-left: 35px;
    margin-bottom: 40px;
    color: #323f4a;
}

#hb-timeline-content .timeline-section::before {
    content: "";
    display: inline-block;
    position: absolute;
    text-align: center;
    left: 6px;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    border: solid 4px rgba(0, 0, 0, 0.25);
    background: #f1f1f1;
    box-shadow: 0px 0px 0px 7px #f1f1f1;
    font-family: dashicons;
    line-height: 1;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#hb-timeline-content .timeline-section .no-activity::before {
    border-color: transparent !important;
    content: "\f158";
    left: -1px;
    font-size: 24px;
    line-height: 10px;
    color: rgba(0, 0, 0, 0.25);
}

#hb-timeline-content .timeline-section .no-activity .finished::before {
    content: "\f147";
    color: #4ac74a;
}

#hb-timeline-content .timeline-section.active::before {
    border-color: #4ac74a;
    color: #4ac74a;
    background: #4ac74a;
}

#hb-timeline-content .timeline-section.active .failed::before {
    border-color: #e85b5b;
    color: #e85b5b;
    background: #e85b5b;
}

#hb-timeline-content .timeline-section .time {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
}

#hb-timeline-content .timeline-section .time .dashicons {
    vertical-align: middle;
    position: relative;
    top: -1px;
    left: -2px;
}

#hb-timeline-content .timeline-section .time .spinner {
    visibility: visible;
}

#hb-timeline-content .timeline-title {
    margin-bottom: 7px;
    font-weight: 400;
}

#hb-timeline-content .bottom-spinner {
    position: absolute;
    bottom: 0;
    left: 22px;
}

#hb-timeline-content .bottom-spinner .spinner {
    visibility: visible;
    border: solid 3px #f1f1f1;
}

#hb-timeline-content .spinner {
    float: none;
    margin-top: 0;
}

#hb-timeline {
    position: absolute;
    left: 44px;
    height: calc(100% - 25px);
    top: 0px;
    width: 2px;
    background: rgba(0, 0, 0, 0.1);
}

#hb-timeline.finished {
    height: calc(100% - 60px);
}

.hb-import-demo-dialog .ui-dialog-content,
.hb-import-demo-dialog .ui-dialog-titlebar {
    padding: 10px 30px;
}

.hb-import-demo-dialog .ui-button.ui-dialog-titlebar-close {
    top: 10px;
    right: 10px;
}

.hb-import-demo-dialog .ui-dialog-buttonpane .ui-button {
    width: 70px;
}

.toplevel_page_hb_about {
    background-color: #f4f5f7;
}

.toplevel_page_hb_about ul#adminmenu a.wp-has-current-submenu::after,
.toplevel_page_hb_about ul#adminmenu > li.current > a.current::after {
    border-right-color: transparent;
}

.toplevel_page_hb_about #wpbody-content {
    padding-bottom: 0;
}

.toplevel_page_hb_about #hb-about {
    overflow: hidden;
}

.toplevel_page_hb_about .hb-container {
    max-width: 90%;
    width: 1240px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}

.toplevel_page_hb_about #wpfooter {
    display: none;
}

.toplevel_page_hb_about #hb-hero-section {
    position: relative;
    padding: 160px 0 203px 0;
    text-rendering: geometricPrecision;
}

.toplevel_page_hb_about #hb-hero-section .hb-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: top left;
    transform: skewY(-9deg);
    z-index: 0;
    background: #6160bf;
    background: linear-gradient(135deg, #6160bf 0%, #4c60fa 100%);
}

.toplevel_page_hb_about #hb-hero-section .hb-background::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-image: url(../../assets/img/texture.png);
    background-repeat: repeat;
}

.toplevel_page_hb_about #hb-hero-section h1 {
    font-size: 62px;
    color: #fff;
    font-weight: 400;
    position: relative;
    margin: 0;
    line-height: 1.1;
    display: inline-block;
}

.toplevel_page_hb_about #hb-hero-section h1 .hb-version {
    font-size: 12px;
    position: absolute;
    top: -25px;
    right: 0;
    padding: 5px 8px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}

.toplevel_page_hb_about #hb-hero-section h3 {
    margin: 0;
    color: #ffdc50;
    font-size: 18px;
    font-weight: 400;
}

.toplevel_page_hb_about #hb-hero-section h4 {
    font-size: 18px;
    color: #fff;
    max-width: 550px;
    font-weight: 400;
    line-height: 1.8;
    margin-top: 40px;
    margin-bottom: 50px;
}

.toplevel_page_hb_about #hb-hero-section .hero-button {
    font-size: 16px;
    padding: 13px 40px;
    border-radius: 30px;
    border: solid 3px #fff;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    transition: all 333ms ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.toplevel_page_hb_about #hb-hero-section .hero-button:hover {
    background-color: #fff;
    color: #323f4a;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.toplevel_page_hb_about #hb-hero-section .how-to-use {
    color: #fff;
    margin-left: 35px;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: solid 2px #fff;
    padding-bottom: 2px;
    transition: all 0.15s;
}

.toplevel_page_hb_about #hb-hero-section .how-to-use:hover {
    color: #ffdc50;
    border-color: #ffdc50;
}

.toplevel_page_hb_about #hb-hero-section .hb-left-section,
.toplevel_page_hb_about #hb-hero-section .hb-right-section {
    box-sizing: border-box;
    float: left;
    width: 50%;
}

.toplevel_page_hb_about #hb-hero-section .hb-right-section {
    text-align: right;
    position: relative;
}

.toplevel_page_hb_about #hb-hero-section .hb-right-section .image-holder {
    position: absolute;
    top: -11px;
    width: 86%;
    margin-left: 14%;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
    background-color: #384654;
    border-radius: 7px;
    transition: all 0.15s;
}

.toplevel_page_hb_about #hb-hero-section .hb-right-section .image-holder img {
    opacity: 1;
    display: block;
    border-radius: 7px;
    max-width: 100%;
    transition: all 0.333s;
}

.toplevel_page_hb_about #hb-hero-section .hb-right-section .image-holder:hover img {
    opacity: 0.05;
}

.toplevel_page_hb_about #hb-hero-section .hb-right-section .image-holder:hover .play-video {
    opacity: 1;
}

.toplevel_page_hb_about #hb-hero-section .hb-right-section .image-holder:hover .play-video a {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-delay: 0.15s;
}

.toplevel_page_hb_about #hb-hero-section .hb-right-section .image-holder:hover .play-video p {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-delay: 0.25s;
}

.toplevel_page_hb_about #hb-hero-section .hb-right-section .image-holder .play-video {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 0.15s;
}

.toplevel_page_hb_about #hb-hero-section .hb-right-section .image-holder .play-video p,
.toplevel_page_hb_about #hb-hero-section .hb-right-section .image-holder .play-video a {
    transition: all 0.15s ease;
    transform: translate3d(0, 10px, 0);
    opacity: 0;
}

.toplevel_page_hb_about #hb-hero-section .hb-right-section .image-holder .play-video p {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
}

.toplevel_page_hb_about #hb-hero-section .hb-right-section .image-holder .play-video a {
    text-decoration: none;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: solid 4px #ffdc50;
    color: #ffdc50;
    display: inline-block;
    box-shadow: none;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
}

.toplevel_page_hb_about #hb-hero-section .hb-right-section .image-holder .play-video a:hover {
    transition-delay: 0s;
    background-color: #ffdc50;
    color: #384654;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.toplevel_page_hb_about #hb-hero-section .hb-right-section .image-holder .play-video a i {
    font-size: 32px;
    line-height: 64px;
    vertical-align: middle;
    position: relative;
    left: -3px;
}

.toplevel_page_hb_about #hb-about-content {
    position: relative;
    z-index: 4;
}

.toplevel_page_hb_about #hb-about-content .hb-section-heading {
    margin: 0;
    padding-top: 1.5em;
    color: #323f4a;
    font-weight: 100;
    font-size: 42px;
    line-height: 1;
}

.toplevel_page_hb_about #hb-about-content p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
    color: #888;
}

.toplevel_page_hb_about #hb-about-content .hb-tips {
    margin: 0 -25px;
    padding-top: 30px;
}

.toplevel_page_hb_about #hb-about-content .hb-tips li {
    padding: 15px 25px 40px 25px;
    box-sizing: border-box;
    display: inline-block;
    width: 25%;
    float: left;
}

.toplevel_page_hb_about #hb-about-content .hb-tips li .hb-tip {
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    padding: 30px 35px;
    border-radius: 5px;
    transition: all 0.15s;
}

.toplevel_page_hb_about #hb-about-content .hb-tips li .hb-tip .tip-enum {
    font-weight: 500;
    font-size: 70px;
    color: rgba(202, 202, 202, 0.37);
    position: absolute;
    top: -40px;
    right: 20px;
    line-height: 1;
    transition: all 0.15s;
}

.toplevel_page_hb_about #hb-about-content .hb-tips li .hb-tip p {
    font-size: 14px;
}

.toplevel_page_hb_about #hb-about-content .hb-tips li .hb-tip strong {
    color: #323f4a;
}

.toplevel_page_hb_about #hb-about-content .hb-tips li .hb-tip a {
    display: inline-block;
    margin-top: 7px;
    padding: 7px 20px;
    border: solid 2px #ddd;
    color: #444;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.15s;
}

.toplevel_page_hb_about #hb-about-content .hb-tips li .hb-tip a:hover {
    background-color: #1d8fd8;
    border-color: #1d8fd8;
    color: #fff;
}

.toplevel_page_hb_about #hb-about-content .hb-tips li .hb-tip:hover {
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
}

.toplevel_page_hb_about #hb-about-content .hb-tips li .hb-tip:hover .tip-enum {
    top: -35px;
    color: #ffdc50;
}

.toplevel_page_hb_about #hb-about-content .hb-tips i {
    font-size: 24px;
    line-height: 16px;
    vertical-align: middle;
    opacity: 0.5;
    display: inline-block;
    padding-right: 12px;
}

.toplevel_page_hb_about #hb-about-content .white-section {
    margin-top: 3em;
    background-color: #fff;
    padding-bottom: 0;
}

.toplevel_page_hb_about #hb-about-content .white-section h2 {
    text-align: center;
}

.toplevel_page_hb_about #hb-about-content .white-section .aligncenter {
    text-align: center;
}

.toplevel_page_hb_about #hb-about-content .white-section .boxes-wrap {
    max-width: 60%;
    margin: 0 auto;
    padding-top: 70px;
    display: flex;
}

.toplevel_page_hb_about #hb-about-content .white-section .boxes-wrap h3 {
    font-size: 32px;
    font-weight: 100;
}

.toplevel_page_hb_about #hb-about-content .white-section .boxes-wrap a {
    font-size: 16px;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 25px;
    border: solid 2px #fff;
    color: #fff;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
    transition: all 0.15s;
}

.toplevel_page_hb_about #hb-about-content .white-section .boxes-wrap a:hover {
    background-color: #fff;
    border-color: #fff;
    color: #1d8fd8;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.toplevel_page_hb_about #hb-about-content .white-section .left-box {
    background-image: url(../../assets/img/texture.png);
    background-repeat: repeat;
}

.toplevel_page_hb_about #hb-about-content .white-section .left-box,
.toplevel_page_hb_about #hb-about-content .white-section .right-box {
    position: relative;
    padding: 70px 50px;
    width: 50%;
    box-sizing: border-box;
    float: left;
    background-color: #1d8fd8;
    border-radius: 7px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.35);
}

.toplevel_page_hb_about #hb-about-content .white-section .left-box h3,
.toplevel_page_hb_about #hb-about-content .white-section .right-box h3 {
    color: #fff;
    font-weight: 400;
}

.toplevel_page_hb_about #hb-about-content .white-section .left-box p,
.toplevel_page_hb_about #hb-about-content .white-section .right-box p {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
}

.toplevel_page_hb_about #hb-about-content .white-section .left-box p strong,
.toplevel_page_hb_about #hb-about-content .white-section .right-box p strong {
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
}

.toplevel_page_hb_about #hb-about-content .white-section .right-box {
    background-color: #384654;
    align-self: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.toplevel_page_hb_about #hb-about-content .white-section .left-box {
    z-index: 1;
    align-self: center;
    padding: 100px 50px;
}

.toplevel_page_hb_about #hb-about-content .white-section .bottom-image {
    display: block;
    max-width: 650px;
    margin: 0 auto;
}

.toplevel_page_hb_about ul#adminmenu a.wp-has-current-submenu.hb-message-arrow::after,
.toplevel_page_hb_about ul#adminmenu > li.current > a.current.hb-message-arrow::after {
    border-right-color: #6160bf;
}

.toplevel_page_hb_about .notice,
.toplevel_page_hb_about .hb-notice {
    display: none;
}

@media only screen and (max-width: 1640px) {
    #hb-content .hb-link .hb-link-inner {
        padding: 20px;
    }
}

@media only screen and (max-width: 1486px) {
    .hb-install-method {
        width: 300px;
        margin-bottom: 20px;
    }

    #hb-content .hb-install-method .hb-install-description p {
        min-height: 60px;
    }

    #hb-content .font-weight-title,
  #hb-content .font-subset-title {
        min-height: 40px !important;
    }

    #icon-wrapper i {
        width: 10%;
    }

    #hb-font-manager .hb-font-col-panel .panel-inside .hb-checkbox {
        width: 50%;
    }

    #hb-content .hb-link {
        width: 25%;
    }
}

@media screen and (max-width: 1120px) {
    .hb-about-sections > li {
        width: 50%;
    }

    #hb-about .hb-install-method,
  #hb-content #hb-font-manager .hb-install-method {
        width: 100%;
        margin-bottom: 30px;
    }

    #hb-font-manager .hb-font-col-panel .panel-inside .hb-checkbox {
        width: 33.33%;
    }

    #hb-content.theme-browser .theme .theme-actions {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        opacity: 1;
        display: block;
    }

    #icon-wrapper i {
        width: 12.5%;
    }

    #hb-content .hb-link {
        width: 33.33%;
    }

    .toplevel_page_hb_about #hb-about-content .hb-tips li {
        width: 50%;
    }

    .toplevel_page_hb_about #hb-about-content .white-section .boxes-wrap {
        max-width: 80%;
    }
}

@media screen and (max-width: 960px) {
    .hb-notification {
        left: 51px;
    }

    .toplevel_page_hb_about .hb-container {
        max-width: 80%;
    }

    .toplevel_page_hb_about #hb-hero-section .hb-left-section,
  .toplevel_page_hb_about #hb-hero-section .hb-right-section {
        width: 100%;
    }

    .toplevel_page_hb_about #hb-hero-section h4 {
        max-width: 100%;
    }

    .toplevel_page_hb_about #hb-hero-section .hb-right-section .image-holder {
        position: inherit;
        top: 0;
        width: 80%;
        margin: 100px auto 0 auto;
        box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
        background-color: #384654;
        border-radius: 7px;
        transition: all 0.15s;
    }

    .toplevel_page_hb_about #hb-about-content .white-section .boxes-wrap {
        max-width: 100%;
    }
}

@media screen and (max-width: 782px) {
    .auto-fold #wpcontent {
        padding-left: 0;
    }

    .hb-about-sections > li {
        width: 100%;
    }

    #icon-wrapper i {
        width: 16.6666666667%;
    }

    .hb-notification {
        left: 15px;
    }

    #hb-content .hb-link {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .hb-status-table td:first-child {
        width: 50%;
    }

    .hide-on-mobile {
        display: none;
    }

    #hb-content .hb-install-method .hb-install-description p {
        min-height: auto;
    }

    .toplevel_page_hb_about #hb-about-content .hb-tips li {
        width: 100%;
    }

    .toplevel_page_hb_about #hb-about-content .white-section .boxes-wrap {
        display: block;
    }

    .toplevel_page_hb_about #hb-about-content .white-section .right-box,
  .toplevel_page_hb_about #hb-about-content .white-section .left-box {
        width: 100%;
        padding: 50px 50px 80px 50px;
    }
}

@media screen and (max-width: 500px) {
    .hb-install-method,
  #hb-content #hb-font-manager .hb-install-method {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 30px;
    }

    #hb-content .hb-link {
        width: 100%;
    }

    #hb-content .hb-link .hb-link-inner {
        padding: 20px 30px;
    }

    #hb-font-manager .hb-font-col-panel .panel-inside .hb-checkbox {
        width: 50%;
    }

    .hb-version-badge {
        display: block;
        margin-left: 0;
    }

    #hb-content #hb-font-manager .hb-install-method .hb-version-badge {
        display: inline-block;
        margin-left: 12px;
    }

    #icon-wrapper i {
        width: 20%;
    }

    .hb-notification {
        left: 5%;
        max-width: 90%;
    }

    .hb-notification::after,
  .hb-notification::before {
        display: none;
    }

    .toplevel_page_hb_about #hb-hero-section .hero-button,
  .toplevel_page_hb_about #hb-hero-section .how-to-use {
        display: block;
        text-align: center;
        max-width: 70%;
        margin: 30px auto;
    }
}

@-webkit-keyframes demoloader {
    0% {
        left: 0;
    }

    25% {
        width: 120px;
    }

    75% {
        width: 75px;
    }

    100% {
        left: 100%;
        width: 30px;
    }
}

@keyframes demoloader {
    0% {
        left: 0;
    }

    25% {
        width: 120px;
    }

    75% {
        width: 75px;
    }

    100% {
        left: 100%;
        width: 30px;
    }
}